body {
  background-color: #eceff5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #eaeaea;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header""body""footer";
}

a {
  color: #385898;
  text-decoration: none;
  font-weight: 700;
}

a:-webkit-any(:hover) {
  border-bottom: 3px solid #dddfe2;
}

p {
  color: grey;
  font-size: 1.3em;
}

img {
  float: left;
  width: 15.5%;
  justify-self: center;
}

header {
  background: #3b5998;
  height: 60%;
  padding: 1em;
  grid-area: header;
}

header img {
  margin: 30px 0 0 180px;
}

.container {
  background-color: #eceff5;
  display: grid;
  grid-template-columns: auto;
  grid-area: body;
}

span.text-float h3 {
  font-size: 1em;
}

.clearfix {
  clear: both;
}

.signin {
  float: right;
  font-size: .8em;
  margin: 5px 130px 0 0;
}

.signin label {
  color: white;
  font-size: 12px;
}

.signin input {
  height: 17px;
  margin: 0 10px 0 0;
  width: 145px;
}

.signin button {
  background-color: #4267b2;
  border-color: #29487d;
  border-style: solid;
  color: white;
  font-weight: bold;
  line-height: 18px;
}

.signin a {
  color: #9cb4d8;
}

section aside {
  color: black;
  margin: 10px 30px 0 0;
}

aside h2,
p {
  margin: 10px 0 5px 0;
}

.l_0 {
  margin: 5% 0 0 5%;
}

/* aside h3 {
  font-size: 1em;
  margin: 0 0 -5% 0;
  position: relative;
} */

/* aside .logo_0 {
  background-image: url(tiyang.png);
  background-position: 100% 100%;
  background-size: auto;
  background-repeat: no-repeat;
  float: left;
  height: 20%;
  position: absolute;
  margin: -1% 0 0 0;
  width: 40%;
} */

.r_0 {
  float: right;
}

.form_register input {
  border-color: #bdc7d8;
  border-radius: 5px;
  border-style: solid;
  font-size: 1em;
  padding: 8px 10px;
}

.inputtext_0 input {
  width: 20.8%;
  position: relative;
}

.inputtext_0 .i_1 {
  margin: 0 0 0 15px;
}

.inputtext_1 input {
  width: 50%;
}

.inputpass input {
  width: 50%;
}

.birthday {
  padding: 5px 0 5px 0;
}

.birthday .b_0 {
  padding: 15px 0 0 0;
}

.birthday .b_0 select {
  background-color: #fff;
  border: 2px solid #ccd0d5;
  height: 30px;
  padding: 5px;
  width: 100px;
}

.gender {
  padding: 10px 0 0 0;
}

.gender .g_0 {
  margin: 5px 0 0 0;
}

.gender .g_0 span {
  font-size: 1em;
}

.gender .g_0 input {
  margin: 10px 0 20px 10px;
}

.lisense p {
  font-size: .8em;
  width: 500px;
}

.signup {
  padding: 0 0 15px 0;
}

.signup button {
  background-color: #4267b2;
  border-color: #29487d;
  border-style: solid;
  color: white;
}

.cp_0 p {
  font-size: .9em;
}

footer {
  background: #fff;
  grid-area: footer;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  display: grid;
  display: inline;
  list-style-type: none;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

ul li {
  padding: .8em;
  float: left;
  font-size: .9em;
  padding: 2px;
  text-align: center;
  margin: 20px 0 0 50px;
}

.f_01 {
  position: relative;
}

.f_1 {
  position: relative;
  margin: auto;
}

.f_2 li p {
  margin: auto;
}

/* ul li span {
  display: block;
  font-size: 1.6em;
  margin-bottom: 1em;
  color: #eaeaea;
} */

@media (min-width: 10px) and (max-width: 1000px) {
  body {
    grid-template-areas: "header""body""footer";
    margin: 0;
  }

  header {
    height: 75%;
  }

  header img {
    margin: 0 0 0 120px;
    width: 50%;
  }

  button.btn-login {
    height: 30px;
    width: 70px;
  }

  .signin {
    margin: 10px 50px 0 0;
  }

  span.psw a {
    margin: 0 10px 0 0;
  }

  ul,
  section.container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0;
  }

  .container,
  footer {
    text-align: center;
    margin: 0;
  }

  ul.f_0 {
    margin: 4px 0 0 0;
  }

  li.f_01 {
    margin: 10px;
  }

  ul.f_2 li p {
    margin: -10px 0 10px 100px;
  }
}